#contentFrame {
    /* position: absolute; */
    width: calc(100vw - 550px);
    height: calc(100vh - 290px);
    padding: 20px;
    top: 200px;
    right: 50px;
z-index: 10;}

#contentFrame h2 {
    display: none;
}

#contentLoading {
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
}

#liveList, #videoList {
    width: calc(100% - 35px);
    height: 125px;
    margin: 5px;
    padding: 10px;
    display: flex;
}

#videoList {
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 10px;
    justify-content: space-around;
}

#videoList::-webkit-scrollbar {
    display: none;
}

#liveList {
    height: 150px;
    flex-wrap: nowrap;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.liveContent {
    width: 266.66px;
    height: 150px;
    background-size: cover !important;
    border-radius: 10px;
    margin-right: 10px;
    transition-duration: 0.3s;
    display: inline-block;
}

.liveContent .videoTitle {
    display: table-cell;
    vertical-align: bottom;
    height: 130px;
    width: calc(100% - 10px);
}

.videoContent {
    width: 222.22px;
    height: 125px;
    background-size: cover !important;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin-bottom: 20px;
    display: inline-block;
    z-index: -999;
}

.videoContent .hoveringContent {
    width: 202.22px;
}

.videoContent:hover, .liveContent:hover {
    transform: translateY(-2px);
    transition-duration: 0.3s;
}

.hoveringContent {
    transition: background 0.3s;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.75) 80%, rgba(0,0,0,0));
    border-radius: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    opacity: 0;
    padding: 10px;
    width: 246.66px;
}

.videoTitle, .videoInfo {
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
}

.videoTitle {
    margin-left: 8px;
    white-space: pre-wrap;
    height: 70px;
}
    
.videoInfo {
    transform: translateY(20px) translateX(5px);
    font-size: 12px;
}

.longWidth {
    animation: longWidth 0.3s forwards;
}

.default {
    animation: default 0.3s forwards;
}

.showVideo {
    animation: showVideo 0.3s forwards;
}

.hideVideo {
    animation: hideVideo 0.3s forwards;
}

.showList {
    animation: showList 0.3s forwards;
}

.hideList {
    animation: hideList 0.3s forwards;
}

@keyframes longWidth {
    0% { width: calc(100vw - 550px); }
    100% { width: calc(100vw - 140px);  }
}

@keyframes default {
    0% { width: calc(100vw - 140px);  }
    100% { width: calc(100vw - 550px); }
}

@keyframes showVideo {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
        
    }
}

@keyframes hideVideo {
    0% {
        opacity: 1;
        transform: translateY(0%);
        
    }
    100% {
        opacity: 0;
        transform: translateY(5%);
    }
}

@keyframes showList {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes hideList {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}
