#infoFrame {
  width: 300px;
  height: 184px;
  top: 200px;
  padding: 20px;
  float: left;
  position: absolute;
}

#profileImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

img[alt="youtube"] {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 8px;
}

#channelName, #subscribers {
  font-size: 16px;
  height: 25px;
}

#subscriberFrame {
  width: 100%;
  height: 25px;
  margin-top: 5px;
}

#subscribers {
  float: left;
  line-height: 29px;
}

#btnList {
  width: 300px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
}

#btnList div {
  width: 25px;
  height: 25px;
}

#mainBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 125px !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
}

#mainBtn .tooltip {
  bottom: 32px;
  left: 0px;
}

#mainBtn div {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

img[alt="More"] {
  float: right;
}

#aboutIcon {
  background: url("../asset/comment.svg") no-repeat fixed;
  background-size: cover !important;
}

#aboutIcon:hover .tooltip {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#alarmBtn {
  background: url("../asset/bell.svg") no-repeat fixed;
  background-size: cover;
}

#alarmBtn:active {
  background: url("../asset/bell_active.svg") no-repeat fixed;
  background-size: cover;
}

#alarmBtn:hover .tooltip {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#alarmBtn .tooltip {
  left: 48px;
}

#locationIcon {
  background: url("../asset/marker.svg") no-repeat fixed;
  background-size: cover;
}

#locationIcon .tooltip {
  left: 103px;
}

#locationIcon:hover .tooltip {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#moreBtn {
  background: url("../asset/menu-dots.svg") no-repeat fixed;
  background-size: cover;
}

#moreBtn .tooltip {
  bottom: 25px;
}

#moreBtn:hover .tooltip {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hideInfo {
  -webkit-animation: hideInfo 0.3s forwards;
          animation: hideInfo 0.3s forwards;
}

.showInfo {
  -webkit-animation: showInfo 0.3s forwards;
          animation: showInfo 0.3s forwards;
}

.hideInfoFrame {
  -webkit-animation: hideInfoFrame 0.3s forwards;
          animation: hideInfoFrame 0.3s forwards;
}

.showInfoFrame {
  -webkit-animation: showInfoFrame 0.3s forwards;
          animation: showInfoFrame 0.3s forwards;
}

@-webkit-keyframes hideInfo {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: 12.5px;
  }
}

@keyframes hideInfo {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  100% {
    opacity: 0;
    margin-left: 12.5px;
  }
}

@-webkit-keyframes showInfo {
  0% {
    opacity: 0;
    margin-left: 12.5px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes showInfo {
  0% {
    opacity: 0;
    margin-left: 12.5px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@-webkit-keyframes hideInfoFrame {
  0% {
    left: 50px;
  }
  100% {
    left: -350px;
  }
}

@keyframes hideInfoFrame {
  0% {
    left: 50px;
  }
  100% {
    left: -350px;
  }
}

@-webkit-keyframes showInfoFrame {
  0% {
    left: -350px;
  }
  100% {
    left: 50px;
  }
}

@keyframes showInfoFrame {
  0% {
    left: -350px;
  }
  100% {
    left: 50px;
  }
}
