#moreBtnPopupFrame {
  width: 300px !important;
  height: auto !important;
  top: 400px;
  left: 380px;
  padding: 15px;
  z-index: 999;
  border-radius: 0px 20px 20px 20px;
  opacity: 0;
}

#totalViews {
  margin-bottom: 10px;
}

#moreBtnList {
  width: 40%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

#moreBtnList div {
  width: 25px;
  height: 25px;
}

#reloadBtn img {
  width: 25px;
  height: 25px;
}

.reloading {
  -webkit-animation: reloading 1s infinite;
          animation: reloading 1s infinite;
}

@-webkit-keyframes reloading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes reloading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#reloadBtn .tooltip {
  top: 35px;
}

#removeBtn {
  background: url("../asset/trash.svg");
  background-size: cover;
}

#removeBtn .tooltip {
  top: 35px;
}

#moreBtnList div:hover .tooltip {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
